html, body {
    font-family: montserrat;
}

.st0 {
    fill: none;
}

.st0:hover {
    opacity: 0.7;
}

.light-part {
    fill: #4A4A4A;
    opacity: 0.5;
    cursor: pointer;
}

.blue-part {
    fill: #0074B4;
    cursor: pointer;
}

.grey-part {
    fill: #4A4A4A;
    cursor: pointer;
}

.dark-part {
    fill: #2A3849;
    cursor: pointer;
}

.red-part {
    fill: #EE1D24;
    cursor: pointer;
}